<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="phonecatApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>testing 3.1</title>

<link href="res/bt/dist/css/bootstrap.css" rel="stylesheet">
<!--<link href="res/bt/dist/css/bootstrap-theme.css" rel="stylesheet">-->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="res/bt/dist/js/html5shiv.js"></script>
<script src="res/bt/dist/js/respond.min.js"></script>
<![endif]-->
</head>

<body ng-controller="PhoneListCtrl">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" ng-model="query" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br>
<style type="text/css">
    #test-ul > li {
        border: 1px dotted #FF9900 ;
        margin: 0px 0px 7px 0px ;
        padding: 5px 5px 5px 5px ;
    }

</style>
<div ng-show="query">
  <ul id="test-ul">
    <li ng-repeat="phone in phones| filter:query" ng-show="([phone.name]|filter:query).length">
      {{phone.name}} {{([phone.name]|filter:query).length}}
      <p>{{phone.snippet}}</p>
    </li>
    
  </ul>
</div>

<p>Total number of phones: {{phones.length}}</p>
<p>Hello, {{name}}!</p>

<table>
  <tr><th>row number</th></tr>
  <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i+1}}</td></tr>
</table>










<div>
  <button class="btn btn-primary" onclick="doPrint();">btn</button>
</div>

<footer>

</footer>

<script type="text/javascript" src="res/jquery-1.10.1.js"></script>
<script type="text/javascript" src="res/angular.js"></script>
<script type="text/javascript" src="js/ng.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="res/bt/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>